<div class="border border-slate-200 rounded-md" routerLink="/course-detail/{{course.id}}">
    <div class="p-3">
        <figure>
            <img src="../../../assets/images/{{course.image}}" alt="{{course.name}}">
        </figure>
        <h2 class="text-2xl w-[8ch]">{{course.name}}</h2>
        <p>{{course.overview}}</p>
        <p class="mt-3"><a class="border-b border-b-blue-500 text-blue-500">Saznaj vise</a></p>
    </div>
    <div>
        <div class="border-b border-b-slate-200 border-t border-t-slate-200 text-center">
            <p class="p-2">{{course.weeks}} nedelja</p>
        </div>
        <h3 class="p-3 text-center text-xl">{{course.price | number: '1.2-2'}} RSD</h3>
    </div>
</div>
